<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://processorderfunctionappdemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/03ec9148-5b40-416b-9e25-27b5097eed64/resourcegroups/SignalRServiceDemo/providers/Microsoft.Web/sites/ProcessOrderFunctionAppDemo</ResourceId>
    <UserName>$ProcessOrderFunctionAppDemo</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://processorderfunctionappdemo.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>